body {
    background-color: #f1f1f1;
    color: #0f140f;
    
    font-size: 16;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
